.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url('/images/hero-image.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero_image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .hero_image .hero_title {
  font-size: 50px;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}